<div class="container text-center">
  <div class="btn-group" role="group" aria-label="Basic example">
    <button type="button" class="btn btn-primary" [routerLink]="['categoria']"> ❒ Categorias</button>
    <button type="button" class="btn btn-primary" [routerLink]="['ejemplar']">Ejemplares</button>
    <button type="button" class="btn btn-primary" [routerLink]="['estudiante']">Estudiantes</button>
    <button type="button" class="btn btn-primary" [routerLink]="['prestamos']">Prestamos</button>
    <button type="button" class="btn btn-primary" [routerLink]="['consultas']">Consultas</button>
  </div>
</div>
